.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    flex-wrap: wrap;
  }
  
  .carousel-wrapper {
    max-width: 600px;
    flex: 1;
  }
  
  .info-wrapper {
    flex: 1;
    max-width: 400px;
    text-align: left;
  }
  
  .info-wrapper h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .info-wrapper p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .download-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #0a84b1;
    background-color: #0a84b1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .download-btn:hover {
    background-color: #0a84b1;
  }
  
  
  