.slider-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.carrossel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-grande {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  margin-top: 15px;
  color: #057aff;
}

.info h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.info p {
  font-size: 1rem;
  color: #000000;
  font-style: italic;
}

/* Estilo para miniaturas */
.slick-thumb {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  padding: 0;
}

.slick-thumb li {
  width: 80px;
  height: 60px;
  overflow: hidden;
  border-radius: 6px;
}

.img-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.slick-thumb .slick-active .img-thumb {
  border-color: #333;
}


.slick-dots.slick-default li button:before {
  color: #888;
  font-size: 12px;
}

.carrossel-equipe .img-grande {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}


.carrossel-equipe .slick-prev:before,
.carrossel-equipe .slick-next:before {
  color: #0a84b1 !important;
}

.carousel-wrapper .slick-prev:before,
.carousel-wrapper .slick-next:before {
  color: #0a84b1 !important;
}
.slider-wrapper-equipe {
  max-width: 1000px;
  margin: 0 auto;
}


.equipe-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.equipe-card {
  display: flex;
  background: white;
  border-radius: 24px;
  padding: 60px 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  align-items: center;
  gap: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-wrap: nowrap; /* sem quebra */
  overflow-x: auto; /* evita overflow */
}


/* Animação ao passar o mouse */
.equipe-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}


.equipe-img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;
    aspect-ratio: 1 / 1;
  box-shadow: 0 4px 12px rgba(10, 132, 177, 0.5);
  border: 3px solid #0a84b1;
}

.equipe-info {
  text-align: left;
  
}

.equipe-info h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #0a84b1;
  margin-bottom: 10px;
}

.equipe-info .descricao {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.equipe-info .info {
  color: #444;
  font-style: italic;
}
