:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background-color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a84b1;
  padding: 10px 20px;
  z-index: 10;
  box-sizing: border-box;
}

/* rodapé ajustado */
.rodape {
  position: relative;
  width: 100%;
  background-color: #0a84b1;
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}


.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  gap: 20px;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #0a84b1;
  color: white;
  transition: background-color 0.3s;
  border-radius: 15px;
}

/* layout geral da página */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-top: 80px; /* Para o header fixo */
  padding-bottom: 40px; /* Espaço pro rodapé */
  box-sizing: border-box;
}


.rodape .container-bolinhas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: -80px; /* Ajuste a margem conforme necessário para mover para a esquerda */
}

.bolinhas {
  display: flex;
  gap: 12px;
  justify-content: center; /* Garante que as bolinhas fiquem centralizadas */
  cursor: pointer;
}

.bolinha {
  width: 32px; /* maior para acomodar a imagem */
  height: 32px;
  border-radius: 50%;
  overflow: hidden; /* faz a imagem ficar dentro do círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* remove a cor sólida */
}

.bolinha img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ajusta a imagem ao círculo */
}

.titulo {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}